
#ht_content {
  font-size: 13px;
  padding: 10px;
}

  #ht_content h4 {
    display: inline-block;
    color: black;
    margin: 0;
  }
  #ht_content .ht_attr {
    _font-family: Lucida Sans Unicode,sans-serif;
    color: #737373;
  }
  #ht_content span {
    color: black;
  }